<!DOCTYPE html>
<html>
<head>
<title>Formulario</title>
</head>
<body>

<h1>Nuevo Autor</h1>
<form action="/autores/crear" method="post">
  Nombre:<br>
  <input type="text" name="nombre" value=""><br>
  Apeliidos:<br>
  <input type="text" name="apellidos" value=""><br>
  Libros:<br>
  <input type="text" name="libros" value=""><br>
  Semblanza:<br>
  <input type="text" name="semblanza" value=""><br>
  Foto: <br>
  <input type="text" name="foto" value=""><br>
  Fecha: <br>
  <input type="text" name="fecha" value=""><br><br>
  <input type="submit" value="crear">
</form>

</body>
</html>
