
<!DOCTYPE html>
<html>
<head>
<title>Autores</title>
</head>
<body>
  Todos los autores
  <br><br>
  <a href="/autores/nuevo">Nuevo autor</a>
  <div id="content">
    <table id="autores" border="1" style="width:100%">
    </table>
  </div>

  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script type="text/javascript">

  var url = '/autores'
  jQuery.getJSON(url, function(data){console.log(data);
  var i = 0;

  console.log(data.length);
  while(i < data.length){
    $('#autores').append('<tr><td>' + data[i].nombre + ' ' + data[i].apellidos +  '</td><td>' + data[i].libros[0].titulo + '</td><td>' + data[i].semblanza + '</td><td>' +
    data[i].fecha + '</td></tr>');
  	i++
  }

  });
</script>
</body>
</html>
