<!DOCTYPE html>
<html>
<head>
<title>Formulario</title>
</head>
<body>

<h1>Editando</h1>
<form action="/autores/editar/569ed0886f1f521b05c3ebcd" method="get">
  Nombre:<br>
  <input type="text" name="nombre" value="Stephen"><br>
  Apeliidos:<br>
  <input type="text" name="apellidos" value="King"><br>
  Libros:<br>
  <input type="text" name="libros" value="It"><br>
  Semblanza:<br>
  <input type="text" name="semblanza" value="Horror cosmico"><br>
  Foto: <br>
  <input type="text" name="foto" value="foto0.png"><br>
  Fecha: <br>
  <input type="text" name="fecha" value="Se presentará el día 17 de Febrero"><br><br>
  <input type="submit" value="Guardar">
</form>

<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript">
</script>
</body>
</html>
